*{
    margin: 0;
    padding: 0;
}
:root{
    --b-radius: 30px;
}
#cal-body{
    background-color: #1A1A2E;
    width: 360px;
    height: 640px;
    border-radius: var(--b-radius);
    margin: 20px auto;
}
#screen{
    background-color: #AFAFB3;
    border-radius: var(--b-radius);
    width: 301px;
    height: 208px;
    margin-left: 30px;
    position: relative;
    top: 28px;
}
#clear {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #D9D9D9;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 30px;
}
#clear:hover {
    cursor: pointer;
}
#divide {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #D9D9D9;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 30px;
}
#divide:hover {
    cursor: pointer;
}
#multiply {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #D9D9D9;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 30px;
}
#multiply:hover {
    cursor: pointer;
}
#delete {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #E94560;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 30px;
}
#delete:hover {
    cursor: pointer;
}
#num-7 {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #4B72A1;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
}
#num-7:hover {
    cursor: pointer;
}
#num-8 {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #4B72A1;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
} 
#num-8:hover {
    cursor: pointer;
} 
#num-9 {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #4B72A1;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}  
#num-9:hover {
    cursor: pointer;
}
#substract {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #D9D9D9;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
} 
#substract:hover {
    cursor: pointer;
}
#num-4 {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #4B72A1;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
} 
#num-4:hover {
    cursor: pointer;
}
#num-5 {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #4B72A1;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
} 
#num-5:hover {
    cursor: pointer;
} 
#num-6 {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #4B72A1;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
} 
#num-6:hover {
    cursor: pointer;
}
#add {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #D9D9D9;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
} 
#add:hover {
    cursor: pointer;
}
#num-1 {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #4B72A1;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
} 
#num-1:hover {
    cursor: pointer;
}
#num-2 {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #4B72A1;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
} 
#num-2:hover {
    cursor: pointer;
}
#num-3 {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #4B72A1;
    color: #ffffff;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
} 
#num-3:hover {
    cursor: pointer;
}
#equal {
    background-color: #0F3460;
    color: #ffffff;
    width: 68px;
    height: 146px;
    border: none;
    border-radius: 37px 37px 37px 37px;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
    /* left: 263px; */
    top: 500px;
    font-size: 30px;
}
#equal:hover {
    cursor: pointer;
}
#num-0 {
    background-color: #4B72A1;
    color: #ffffff;
    width: 146px;
    height: 68px;
    border: none;
    border-radius: 37px 37px 37px 37px;
    margin-left: 20px;
    margin-bottom: 8px;
    font-size: 30px;
}
#num-0 :hover {
    cursor: pointer;
}
#point {
    border-radius: 50%;
    border: none;
    width: 68px;
    height: 68px;
    background-color: #4B72A1;
    color: #ffffff;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 30px;
}
#point:hover {
    cursor: pointer;
}
#content {
    font-size: 30px;
    width: 301px;
    height: 100px;
    text-align: center;
}